<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMS 계측 정보</title>
    <link rel="stylesheet" href="../../../static/css/energuard.css" th:href="@{/css/energuard.css}">
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <ul>
            <li class="active"><a th:href="@{/bms/rack}">BMS 계측 정보</a></li>
            <li><a th:href="@{/bms/pcs}">PCS 계측 정보</a></li>
            <li><a th:href="@{/bms/system}">시스템 정보</a></li>
            <li><a th:href="@{/bms/event}">이벤트 발생 내역</a></li>
        </ul>
    </aside>
    <main class="content">
        <div class="content-header">
            <h2>RACK BMS</h2>
        </div>
        <div class="data-section">
            <div th:if="${#lists.isEmpty(bmsData)}">
                <h3>데이터가 없습니다.</h3>
            </div>
            <table th:if="${!#lists.isEmpty(bmsData)}">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>수신 시간</th>
                    <th>전압[V]</th>
                    <th>전류[A]</th>
                    <th>SOC[%]</th>
                    <th>평균온도[°C]</th>
                    <th>평균전압[V]</th>
                    <th>최고전압[V]</th>
                    <th>최저전압[V]</th>
                    <th>알람</th>
                    <th>상태정보</th>
                    <th>상세정보</th>
                    <th>트레이정보</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, stat : ${bmsData}">
                    <td th:text="${stat.index + 1}"></td>
                    <td th:text="${item.date}"></td>
                    <td th:text="${item.voltage}"></td>
                    <td th:text="${item.current}"></td>
                    <td th:text="${item.soc}"></td>
                    <td th:text="${item.temperature}"></td>
                    <td th:text="${item.averageVoltage}"></td>
                    <td th:text="${item.maxVoltage}"></td>
                    <td th:text="${item.minVoltage}"></td>
                    <td><span th:class="${item.alarm} ? 'alarm-indicator green' : 'alarm-indicator red'"></span></td>
                    <td th:text="${item.state}"></td>
                    <td>
                        <button class="detail-button" onclick="openModal()">보기</button>
                    </td>
                    <td>
                        <button class="trace-button">보기</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>

<!-- 모달 창 -->
<div id="bmsDetailModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalRackNumber">RACK NO.</h2>
        <div class="details-section">
            <table>
                <thead>
                <tr>
                    <th>항목</th>
                    <th>값</th>
                    <th>항목</th>
                    <th>값</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>전압(V)</td>
<!--                    <td id="modalVoltage"></td>-->
<!--                    <td>전류(A)</td>-->
<!--                    <td id="modalCurrent"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>SOC(%)</td>-->
<!--                    <td id="modalSoc"></td>-->
<!--                    <td>평균온도(°C)</td>-->
<!--                    <td id="modalTemperature"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>평균전압(V)</td>-->
<!--                    <td id="modalAverageVoltage"></td>-->
<!--                    <td>최고전압(V)</td>-->
<!--                    <td id="modalMaxVoltage"></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>최저전압(V)</td>-->
<!--                    <td id="modalMinVoltage"></td>-->
<!--                    <td>상태</td>-->
<!--                    <td id="modalState"></td>-->
<!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Include Footer Fragment -->
<div th:insert="~{fragments/footer :: footer}"></div>


<script th:inline="javascript">
    // 모달 열기
    function openModal() {
        console.log("Modal Open Called with index: ");  // 함수 호출 여부 확인
        const modal = document.getElementById("bmsDetailModal");
        // const item = bmsData[index];
        // if (item) {
        //     document.getElementById("modalRackNumber").textContent = 'RACK NO. ' + (index + 1);
        //     document.getElementById("modalVoltage").textContent = item.voltage;
        //     document.getElementById("modalCurrent").textContent = item.current;
        //     document.getElementById("modalSoc").textContent = item.soc;
        //     document.getElementById("modalTemperature").textContent = item.temperature;
        //     document.getElementById("modalAverageVoltage").textContent = item.averageVoltage;
        //     document.getElementById("modalMaxVoltage").textContent = item.maxVoltage;
        //     document.getElementById("modalMinVoltage").textContent = item.minVoltage;
        //     document.getElementById("modalState").textContent = item.state;
        //     modal.style.display = "block";
        // } else {
        //     console.error("Item not found for index: " + index);
        // }
        modal.style.display = "block";
    }


    // 모달 닫기
    function closeModal() {
        document.getElementById("bmsDetailModal").style.display = "none";
    }
</script>

</body>
</html>
