<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header  th:fragment="header">
    <head th:fragment="head-content">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="${pageTitle}">ENERGUARD SYSTEM</title>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link rel="stylesheet" href="../../static/css/top.css" th:href="@{/css/top.css}">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>

    <body class="backGround" th:fragment="body-content">
    <div class="topMenu">
        <div class="logo">
            <div class="logo_image">
                <img th:src="@{/img/header/energuard.png}" id="logo" style="cursor:pointer" th:onclick="|location.href='@{/}'|">
            </div>
            <div class="logo_name">
                <span id="compName">Example 발전소&nbsp&nbsp</span>
            </div>
            <div class="logo_weather">
                <img src="" id="weather" />
                <div class="map_wrap">
                    <div id="map"></div>
                    <div class="hAddr">
                        <span>&nbsp</span><span id="centerAddr"></span>
                    </div>
                </div>
                <div class="weather_name">
                    <span>&nbsp</span><span id="weather_name"></span><span id="temp">˚C</span>
                </div>
            </div>
        </div>

        <div class="menu">
            <ul>
                <li> <a th:href="@{/bms/rack}" onclick="setActive(this)">제어</a></li>
                <li> <a href="#" onclick="setActive(this)">운영</a></li>
                <li> <a th:href="@{/report}" onclick="setActive(this)">리포트</a></li>
                <li> <a href="#" onclick="setActive(this)">트렌드</a></li>
                <li> <a th:href="@{/}" onclick="setActive(this)">메인</a></li>


            </ul>
        </div>
    </div>

    <form th:action="@{/weatherRecord}" method="post">
        <input id="time" class="time" name="time" type="hidden" th:value="${time}">
        <input id="month" class="month" name="month" type="hidden" th:value="${month}">
        <input id="date" class="date" name="date" type="hidden" th:value="${date}">
        <input id="reason" class="reason" name="reason" type="hidden" th:value="${reason}">
        <input id="status" class="status" name="status" type="hidden" th:value="${status}">
    </form>

    <script type="text/javascript" th:src="@{https://dapi.kakao.com/v2/maps/sdk.js?appkey=2e4d3db9202a876bae8b4b4ab3c7e0b8&libraries=services}"></script>
    <script th:inline="javascript">
        /* JavaScript logic */

        var setCookie = function(name, value) {
            var date = new Date();
            date.setTime(date.getTime() + 1000 * 10 * 60); //cookie 10분 지속
            document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
        };

        var getCookie = function(name) {
            var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return value ? value[2] : null;
        };

        const appKey = "8d4de91e1577d6361f6d18064dc6e96b";
        var weather_name;
        var temperature;
        var img;
        var d = new Date();

        function change_weather(icon, temp) {
            var status;
            img.src = [[@{/img/header/}]];

            switch (icon) {
                case "01d":
                case "01n":
                case "03n":
                case "03d":
                    img.src += "clear.png";
                    status = "맑음";
                    break;
                case "02d":
                case "02n":
                case "04d":
                case "04n":
                    img.src += "little_cloud.png";
                    status = "조금흐림";
                    break;
                case "50d":
                case "50n":
                    img.src += "cloudy.png";
                    status = "흐림";
                    break;
                case "09d":
                case "09n":
                case "10d":
                case "10n":
                case "11d":
                case "11n":
                    img.src += "rain.png";
                    status = "비";
                    break;
                case "13d":
                case "13n":
                    img.src += "snow.png";
                    status = "눈";
                    break;
            }

            weather_name.innerHTML = status;
            temperature.innerHTML = temp  + "˚C";

            var time = String(d);
            var month = String(d.getFullYear()) + String(d.getMonth() + 1);
            var day = d.getDate();
            $('.time').val(time);
            $('.month').val(month);
            $('.date').val(date);
            $('.status').val(status);
            $('.reason').val(reason);

            $.ajax({
                type: "POST",
                url: "weatherRecord",
                data: $('form').serialize(),
                error: function(error) {
                    console.log("error");
                },
                success: function(data) {
                    // success logic
                }
            });
        }

        $(document).ready(function () {
            img = document.getElementById("weather");
            weather_name = document.getElementById("weather_name");
            temperature = document.getElementById("temp");

            check_time();
            setInterval(check_time, 1 * 1000 * 60 * 5); //5분마다 실행
        });

        function check_time() {
            if (getCookie("icon") == null) {
                setCookie("pre_time", d.getHours() * 60 + d.getMinutes());
                setCookie("pre_date", d.getDate());
                reason = "0";
                findWeatherDetails();
            } else if (d.getHours() * 60 + d.getMinutes() - getCookie("pre_time") >= 5 || d.getDate() != getCookie("pre_date")) {
                setCookie("pre_time", d.getHours() * 60 + d.getMinutes());
                setCookie("pre_date", d.getDate());
                reason = "1";
                findWeatherDetails();
            } else {
                reason = "2";
                change_weather(getCookie("icon"), getCookie("temp"));
            }
        }

        function findWeatherDetails() {
            var region = "lat=37.5665&lon=126.9780"; // Example lat/lon values
            var searchLink = "https://api.openweathermap.org/data/2.5/weather?" + region + "&appid=" + appKey;

            httpRequestAsync(searchLink, theResponse);
        }

        function theResponse(response) {
            var jsonObject = JSON.parse(response);
            setCookie("icon", jsonObject.weather[0].icon);
            setCookie("temp", (jsonObject.main.temp - 273).toFixed(0));
            change_weather(jsonObject.weather[0].icon, (jsonObject.main.temp - 273).toFixed(0));
        }

        function httpRequestAsync(url, callback) {
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = () => {
                if (httpRequest.readyState == 4 && httpRequest.status == 200)
                    callback(httpRequest.responseText);
            };
            httpRequest.open("GET", url, true);
            httpRequest.send();
        }

        /* Kakao 지도 연동 코드 */
        var mapContainer = document.getElementById('map');
        var mapOption = {
            center: new kakao.maps.LatLng(37.5665, 126.9780), // Example lat/lon
            level: 1
        };
        var map = new kakao.maps.Map(mapContainer, mapOption);
        var geocoder = new kakao.maps.services.Geocoder();

        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

        function searchAddrFromCoords(coords, callback) {
            geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
        }

        function displayCenterInfo(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var infoDiv = document.getElementById('centerAddr');
                for (var i = 0; i < result.length; i++) {
                    if (result[i].region_type === 'H') {
                        infoDiv.innerHTML = result[i].region_1depth_name + " " + result[i].region_2depth_name;
                        break;
                    }
                }
            }
        }
    </script>

    </body>
</header>
</html>
